
.App-header-dark {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.App-header-light{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}